In [0]:
import pandas as pd
import numpy as np 
cars = np.array([
    ["AMC Ambassador Brougham", 13, 8, 360, 175, 3821, 11, 73, "US"],
    ["AMC Ambassador DPL", 15, 8, 390, 190, 3850, 8.5, 70, "US"],
    ["AMC Ambassador SST", 17, 8, 304, 150, 3672, 11.5, 72, "Europe"],
    ["AMC Concord", 19.4, 6, 232, 90, 3210, 17.2, 78, "Europe"],
    ["Buick Century", 24.3, 4, 151, 90, 3003, 20.1, 80, "US"],
    ["Chevrolet Bel Air", 23, 4, 151, 0, 3035, 20.5, 82, "Japan"],
    ["AMC Concord DL 6", 20.2, 6, 232, 90, 3265, 18.2, 79, "Japan"],
    ["Audi 5000s (diesel)",36.4, 5, 121, 67, 2950, 19.9, 80, "Europe"],
    ["Fiat 128", 29, 4, 68, 49, 1867, 19.5, 73, "Europe"],
    ["Opel Manta", 24, 4, 116, 75, 2158, 15.5, 73, "Europe"],
    ["Audi 100LS", 20, 4, 114, 91, 2582, 14, 73, "Europe"],
    ["Volvo 144ea", 19, 4, 121, 112, 2868, 15.5, 73, "Europe"],
    ["Dodge Dart Custom", 15, 8, 318, 150, 3399, 11, 73, "US"],
    ["Saab 99le", 24, 4, 121, 110, 2660, 14, 73, "Europe"],
    ["Volkswagen Dasher", 30.5, 4, 97, 78, 2190, 14.1, 77, "Europe"],
    ["Datsun 810", 22, 6, 146, 97, 2815, 14.5, 77, "Japan"],
    ["BMW 320i", 21.5, 4, 121, 110, 2600, 12.8, 77, "Europe"],
    ["Mazda RX-4", 21.5, 3, 80, 110, 2720, 13.5, 77, "Japan"],
    ["Volkswagen Rabbit Custom Diesel", 43.1, 4, 90, 48, 1985, 21.5, 78, "Europe"],
    ["Ford Fiesta", 36.1, 4, 98, 66, 1800, 14.4, 78, "US"],
    ["Mazda GLC Deluxe", 32.8, 4, 78, 52, 1985, 19.4, 78, "Japan"],
    ["Toyota Corolla", 32.4, 4, 108, 75, 2350, 16.8, 81, "Japan"],
    ["Datsun 200SX", 32.9, 4, 119, 100, 2615, 14.8, 81, "Japan"],
    ["Mazda 626", 31.6, 4, 120, 74, 2635, 18.3, 81, "Japan"],
    ["Peugeot 505s Turbo Diesel", 28.1, 4, 141, 80, 3230, 20.4, 81, "Europe"],
    ["Saab 900s", 0, 4, 121, 110, 2800, 15.4, 81, "Europe"],
    ["Volvo Diesel", 30.7, 6, 145, 76, 3160, 19.6, 81, "Europe"]
])

scCars = ['Carro', 'MPG', 'Cilindros', 'Desplazamiento', 'Caballo_fuerza',  'Peso','Aceleracion', 'Modelo', 'Origen']
 
df_cars = pd.DataFrame(cars, columns= scCars)

In [0]:
df_cars.head(15)

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen
0,AMC Ambassador Brougham,13,8,360,175,3821,11,73,US
1,AMC Ambassador DPL,15,8,390,190,3850,8.5,70,US
2,AMC Ambassador SST,17,8,304,150,3672,11.5,72,Europe
3,AMC Concord,19.4,6,232,90,3210,17.2,78,Europe
4,Buick Century,24.3,4,151,90,3003,20.1,80,US
5,Chevrolet Bel Air,23,4,151,0,3035,20.5,82,Japan
6,AMC Concord DL 6,20.2,6,232,90,3265,18.2,79,Japan
7,Audi 5000s (diesel),36.4,5,121,67,2950,19.9,80,Europe
8,Fiat 128,29,4,68,49,1867,19.5,73,Europe
9,Opel Manta,24,4,116,75,2158,15.5,73,Europe
10,Audi 100LS,20,4,114,91,2582,14,73,Europe
11,Volvo 144ea,19,4,121,112,2868,15.5,73,Europe
12,Dodge Dart Custom,15,8,318,150,3399,11,73,US
13,Saab 99le,24,4,121,110,2660,14,73,Europe
14,Volkswagen Dasher,30.5,4,97,78,2190,14.1,77,Europe

In [0]:
#Observando tipos de datos que importa pandas
df_cars.dtypes

Out[3]: Carro             object
MPG               object
Cilindros         object
Desplazamiento    object
Caballo_fuerza    object
Peso              object
Aceleracion       object
Modelo            object
Origen            object
dtype: object

In [0]:
#Cambiando tipo de dato de cada columna para poder operar sobre ellas

df_cars['Carro'] = df_cars['Carro'].astype('str')
df_cars['MPG'] = df_cars['MPG'].astype('float')
df_cars['Cilindros'] = df_cars['Cilindros'].astype('int')
df_cars['Desplazamiento'] = df_cars['Desplazamiento'].astype('int')
df_cars['Caballo_fuerza'] = df_cars['Caballo_fuerza'].astype('int')
df_cars['Peso'] = df_cars['Peso'].astype('int')
df_cars['Aceleracion'] = df_cars['Aceleracion'].astype('float')
df_cars['Modelo'] = df_cars['Modelo'].astype('str')
df_cars['Origen'] = df_cars['Origen'].astype('str')

df_cars.dtypes

Out[4]: Carro              object
MPG               float64
Cilindros           int64
Desplazamiento      int64
Caballo_fuerza      int64
Peso                int64
Aceleracion       float64
Modelo             object
Origen             object
dtype: object

In [0]:
#1.	Encuentra el promedio de "MPG" por país de origen ("Origin").

promedio = df_cars.groupby('Origen').MPG.mean().round(3)
promedio

Out[5]: Origen
Europe    24.479
Japan     27.050
US        20.680
Name: MPG, dtype: float64

In [0]:
#2.	Agrega una columna "Weight_per_Horsepower" que sea el peso dividido por la potencia ("Weight" / "Horsepower"). Además, asegúrense que los valores en esta columna estén redondeados a tres decimales. 

df_cars['Weight_per_Horsepower'] = (df_cars['Peso'] / df_cars['Caballo_fuerza']).round(3)
df_cars.head(5)

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen,Weight_per_Horsepower
0,AMC Ambassador Brougham,13.0,8,360,175,3821,11.0,73,US,21.834
1,AMC Ambassador DPL,15.0,8,390,190,3850,8.5,70,US,20.263
2,AMC Ambassador SST,17.0,8,304,150,3672,11.5,72,Europe,24.480
3,AMC Concord,19.4,6,232,90,3210,17.2,78,Europe,35.667
4,Buick Century,24.3,4,151,90,3003,20.1,80,US,33.367

In [0]:
#3.	Encuentra cuántos coches tienen más de 150 caballos de fuerza y una aceleración menor a 10. Además de encontrar estos coches, también se te pide mostrar sus nombres y países de origen. 

coches_seleccionados = df_cars[(df_cars['Caballo_fuerza'] > 150) & (df_cars['Aceleracion'] < 10)]
print(f' Cantidad de coches: {coches_seleccionados.value_counts().sum()}')
coches_seleccionados.head()

 Cantidad de coches: 1

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen,Weight_per_Horsepower
1,AMC Ambassador DPL,15.0,8,390,190,3850,8.5,70,US,20.263

In [0]:
#4.	Encuentra los coches con "MPG" mayor a 25 y "Cylinders" igual a 4 o 6. 
coches_selected = df_cars[(df_cars.MPG > 25) & (df_cars['Cilindros'].isin([4,6]))]
coches_selected.head(10)

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen,Weight_per_Horsepower
8,Fiat 128,29.0,4,68,49,1867,19.5,73,Europe,38.102
14,Volkswagen Dasher,30.5,4,97,78,2190,14.1,77,Europe,28.077
18,Volkswagen Rabbit Custom Diesel,43.1,4,90,48,1985,21.5,78,Europe,41.354
19,Ford Fiesta,36.1,4,98,66,1800,14.4,78,US,27.273
20,Mazda GLC Deluxe,32.8,4,78,52,1985,19.4,78,Japan,38.173
21,Toyota Corolla,32.4,4,108,75,2350,16.8,81,Japan,31.333
22,Datsun 200SX,32.9,4,119,100,2615,14.8,81,Japan,26.150
23,Mazda 626,31.6,4,120,74,2635,18.3,81,Japan,35.608
24,Peugeot 505s Turbo Diesel,28.1,4,141,80,3230,20.4,81,Europe,40.375
26,Volvo Diesel,30.7,6,145,76,3160,19.6,81,Europe,41.579

In [0]:
#5.	Encuentra el promedio de "MPG" y "Weight" por país de origen y número de cilindros.

df_average = df_cars.groupby(['Origen','Cilindros']).agg({"MPG":'mean',"Peso":'mean'}).round(3)
df_average.head(10)

In [0]:
#6.	Encuentra el coche con la aceleración más rápida y el coche con la aceleración más lenta para cada cantidad de cilindros.

#Para poder seleccionar los registros donde se cumplan las condiciones, se necesita encontrar esos indices para luegos seleccionarlos con .loc

coches_seleccionados = df_cars.groupby('Cilindros') \
                         .apply(lambda df: df.loc[[df['Aceleracion'].idxmax(), df['Aceleracion'].idxmin()]]) \
                         .drop_duplicates()

coches_seleccionados.head(10)

In [0]:
#7.	Encuentra el coche más rápido de cada país de origen ("Origin"). Muestra el nombre del coche, el país de origen y su velocidad máxima.

# NOTA: Para hallar la velocidad maxima, utilicé la siguiente fórmula: Potencia(Caballos de fuerza) * 0.7355

df_cars['velocidad_maxima'] = (df_cars['Caballo_fuerza'] * 0.7355).round(3)
df_carros_idx = df_cars.groupby('Origen').velocidad_maxima.idxmax()
df_cars.loc[df_carros_idx,['Carro','Origen','velocidad_maxima']]

,Carro,Origen,velocidad_maxima
2,AMC Ambassador SST,Europe,110.325
17,Mazda RX-4,Japan,80.905
1,AMC Ambassador DPL,US,139.745

In [0]:
#8.	Agrupa los coches por país de origen ("Origin") y cuenta cuántos coches hay en cada grupo. 
df_cars.Origen.value_counts()

Out[12]: Europe    14
Japan      8
US         5
Name: Origen, dtype: int64

In [0]:
#9.	Agrega una nueva columna llamada "Combustible" con un valor predeterminado (por ejemplo, "Gasolina") para todos los coches. 

df_cars['Combustible'] = 'Gasolina'
df_cars.head()

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen,Weight_per_Horsepower,velocidad_maxima,Combustible
0,AMC Ambassador Brougham,13.0,8,360,175,3821,11.0,73,US,21.834,128.712,Gasolina
1,AMC Ambassador DPL,15.0,8,390,190,3850,8.5,70,US,20.263,139.745,Gasolina
2,AMC Ambassador SST,17.0,8,304,150,3672,11.5,72,Europe,24.480,110.325,Gasolina
3,AMC Concord,19.4,6,232,90,3210,17.2,78,Europe,35.667,66.195,Gasolina
4,Buick Century,24.3,4,151,90,3003,20.1,80,US,33.367,66.195,Gasolina

In [0]:
#10.	Elimina las filas duplicadas basadas en las columnas "Car" y "Model", manteniendo la última aparición.

df_no_duplicados = df_cars.drop_duplicates(subset=['Carro', 'Modelo'], keep='last')
df_no_duplicados.head()

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen,Weight_per_Horsepower,velocidad_maxima,Combustible
0,AMC Ambassador Brougham,13.0,8,360,175,3821,11.0,73,US,21.834,128.712,Gasolina
1,AMC Ambassador DPL,15.0,8,390,190,3850,8.5,70,US,20.263,139.745,Gasolina
2,AMC Ambassador SST,17.0,8,304,150,3672,11.5,72,Europe,24.480,110.325,Gasolina
3,AMC Concord,19.4,6,232,90,3210,17.2,78,Europe,35.667,66.195,Gasolina
4,Buick Century,24.3,4,151,90,3003,20.1,80,US,33.367,66.195,Gasolina

In [0]:
#11.	Ordena el DataFrame por (Horsepower) de manera descendente y muestra las 10 primeras filas. 

df_cars.sort_values(by='Caballo_fuerza',ascending=False).head(10)

,Carro,MPG,Cilindros,Desplazamiento,Caballo_fuerza,Peso,Aceleracion,Modelo,Origen,Weight_per_Horsepower,velocidad_maxima,Combustible
1,AMC Ambassador DPL,15.0,8,390,190,3850,8.5,70,US,20.263,139.745,Gasolina
0,AMC Ambassador Brougham,13.0,8,360,175,3821,11.0,73,US,21.834,128.712,Gasolina
2,AMC Ambassador SST,17.0,8,304,150,3672,11.5,72,Europe,24.480,110.325,Gasolina
12,Dodge Dart Custom,15.0,8,318,150,3399,11.0,73,US,22.660,110.325,Gasolina
11,Volvo 144ea,19.0,4,121,112,2868,15.5,73,Europe,25.607,82.376,Gasolina
25,Saab 900s,0.0,4,121,110,2800,15.4,81,Europe,25.455,80.905,Gasolina
17,Mazda RX-4,21.5,3,80,110,2720,13.5,77,Japan,24.727,80.905,Gasolina
16,BMW 320i,21.5,4,121,110,2600,12.8,77,Europe,23.636,80.905,Gasolina
13,Saab 99le,24.0,4,121,110,2660,14.0,73,Europe,24.182,80.905,Gasolina
22,Datsun 200SX,32.9,4,119,100,2615,14.8,81,Japan,26.150,73.550,Gasolina