In [0]:

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType
from pyspark.sql import functions as F
from datetime import datetime

blogs = [
  (1, "Jules", "Damji",  "1/4/2016", 4535),
  (2, "Brooke","Wenig",  "5/5/2018", 8908),
  (3, "Denny", "Lee",  "6/7/2019", 7659),
  (4, "Tathagata", "Das", "5/12/2018", 10568),
  (5, "Matei","Zaharia",  "5/14/2014", 40578),
  (6, "Reynold", "Xin",  "3/2/2015", 25568),
  (7, "Nicolas", "Fernandez",  "8/8/2012", 9000),
  (8, "Ulises", "Pereyra",  "3/2/2011", 7800),
  (9, "Sara", "Smith", "9/15/2020", 6321),
  (10, "John", "Doe", "4/23/2017", 9876),
  (11, "Alice", "Johnson", "7/10/2016", 5432),
  (12, "Luis", "García", "2/14/2022", 8743),
  (13, "Maria", "Lopez", "11/30/2019", 6543),
  (14, "Carlos", "Martinez", "10/5/2018", 9321),
  (15, "Laura", "Hernandez", "8/20/2017", 7521),
  (16, "Pedro", "Gonzalez", "4/12/2016", 6321),
  (17, "Ana", "Ramirez", "1/25/2015", 5678),
  (18, "Diego", "Torres", "6/7/2014", 9876),
  (19, "Valeria", "Perez", "3/18/2013", 4567),
  (20, "Eduardo", "Fernandez", "9/9/2012", 8743),
  (21, "Isabella", "Silva", "7/4/2011", 3456),
  (22, "Miguel", "Ortega", "5/15/2010", 7890),
  (23, "Luna", "Vargas", "12/28/2009", 6543)
]

In [0]:

#1.	Definir un schema llamado schema_blogs (solo utilizar STRING e INT como tipos de dato) 
#    Columnas: Id, First, Last, Published, Hits

# Es de buenas practicas poner True() para admitir nulos, aunque se puede obviar

schema_blogs = StructType(
                    [
                      StructField("Id", IntegerType(),True),
                      StructField("First", StringType(),True),
                      StructField("Last", StringType(),True),
                      StructField("Published", StringType(),True),
                      StructField("Hits", IntegerType(),True)
                    ]
)

In [0]:
# 2.	Cargar un DataFrame llamado df_blogs a partir de la lista blogs

df_blogs = spark.createDataFrame(blogs,schema_blogs)

df_blogs.show(10)

+---+---------+---------+---------+-----+
| Id|    First|     Last|Published| Hits|
+---+---------+---------+---------+-----+
|  1|    Jules|    Damji| 1/4/2016| 4535|
|  2|   Brooke|    Wenig| 5/5/2018| 8908|
|  3|    Denny|      Lee| 6/7/2019| 7659|
|  4|Tathagata|      Das|5/12/2018|10568|
|  5|    Matei|  Zaharia|5/14/2014|40578|
|  6|  Reynold|      Xin| 3/2/2015|25568|
|  7|  Nicolas|Fernandez| 8/8/2012| 9000|
|  8|   Ulises|  Pereyra| 3/2/2011| 7800|
|  9|     Sara|    Smith|9/15/2020| 6321|
| 10|     John|      Doe|4/23/2017| 9876|
+---+---------+---------+---------+-----+
only showing top 10 rows

In [0]:
#3.	Listar todos los apellidos del DataFrame df_blogs
#   Convertir todas las letras a mayúsculas con la función upper

df_blogs = df_blogs.withColumn('Last', F.upper(F.col('Last')))

df_blogs.select('Last').show(10)

# Otra forma adicional de cambiarlo sería usando una expresion ( exp() )

df_blogs = df_blogs.withColumn('Last', F.expr('UPPER(Last)'))

df_blogs.select('Last').show(10)

+---------+
|     Last|
+---------+
|    DAMJI|
|    WENIG|
|      LEE|
|      DAS|
|  ZAHARIA|
|      XIN|
|FERNANDEZ|
|  PEREYRA|
|    SMITH|
|      DOE|
+---------+
only showing top 10 rows

+---------+
|     Last|
+---------+
|    DAMJI|
|    WENIG|
|      LEE|
|      DAS|
|  ZAHARIA|
|      XIN|
|FERNANDEZ|
|  PEREYRA|
|    SMITH|
|      DOE|
+---------+
only showing top 10 rows

In [0]:
#4.	Listar las filas que tengan una cantidad de Hits mayor o igual a 10000

df_blogs.where("Hits >= 10000").show()

# O alternativamente utilizar la funcion col

df_blogs.where(F.col('Hits')>=10000).show()

# U otra alternativa es usar filter

df_blogs.filter(df_blogs.Hits >=10000).show()

+---+---------+-------+---------+-----+
| Id|    First|   Last|Published| Hits|
+---+---------+-------+---------+-----+
|  4|Tathagata|    DAS|5/12/2018|10568|
|  5|    Matei|ZAHARIA|5/14/2014|40578|
|  6|  Reynold|    XIN| 3/2/2015|25568|
+---+---------+-------+---------+-----+

+---+---------+-------+---------+-----+
| Id|    First|   Last|Published| Hits|
+---+---------+-------+---------+-----+
|  4|Tathagata|    DAS|5/12/2018|10568|
|  5|    Matei|ZAHARIA|5/14/2014|40578|
|  6|  Reynold|    XIN| 3/2/2015|25568|
+---+---------+-------+---------+-----+

+---+---------+-------+---------+-----+
| Id|    First|   Last|Published| Hits|
+---+---------+-------+---------+-----+
|  4|Tathagata|    DAS|5/12/2018|10568|
|  5|    Matei|ZAHARIA|5/14/2014|40578|
|  6|  Reynold|    XIN| 3/2/2015|25568|
+---+---------+-------+---------+-----+

In [0]:
# 5.  Agregar una nueva columna llamada PublishedDate de tipo Date
#	  Utilizar la columna Published de tipo String como input


df_blogs = df_blogs.withColumn('PublishedDate', F.to_date('Published','M/d/yyyy'))
df_blogs.show(5)

# Alternativamente, otra solución al problema sería optar por utilizar una UDF()

def formatear_date(dato):
     return datetime.strptime(dato, "%m/%d/%Y").date()

spark.udf.register("formatear_date", formatear_date, DateType())
df_blogs = df_blogs.withColumn("PublishedDate", udf(lambda x: formatear_date(x), DateType())(F.col("Published")))
df_blogs.show(5)

# Extra: Si deseo solo visualizarlo con el formato original, podría usar date_format()

df_blogs.withColumn("PublishedDate", F.date_format(F.col("PublishedDate"), "M/d/yyyy")).show(5)


df_blogs.printSchema()

+---+---------+-------+---------+-----+-------------+
| Id|    First|   Last|Published| Hits|PublishedDate|
+---+---------+-------+---------+-----+-------------+
|  1|    Jules|  DAMJI| 1/4/2016| 4535|   2016-01-04|
|  2|   Brooke|  WENIG| 5/5/2018| 8908|   2018-05-05|
|  3|    Denny|    LEE| 6/7/2019| 7659|   2019-06-07|
|  4|Tathagata|    DAS|5/12/2018|10568|   2018-05-12|
|  5|    Matei|ZAHARIA|5/14/2014|40578|   2014-05-14|
+---+---------+-------+---------+-----+-------------+
only showing top 5 rows

+---+---------+-------+---------+-----+-------------+
| Id|    First|   Last|Published| Hits|PublishedDate|
+---+---------+-------+---------+-----+-------------+
|  1|    Jules|  DAMJI| 1/4/2016| 4535|   2016-01-04|
|  2|   Brooke|  WENIG| 5/5/2018| 8908|   2018-05-05|
|  3|    Denny|    LEE| 6/7/2019| 7659|   2019-06-07|
|  4|Tathagata|    DAS|5/12/2018|10568|   2018-05-12|
|  5|    Matei|ZAHARIA|5/14/2014|40578|   2014-05-14|
+---+---------+-------+---------+-----+-------------+
only showing top 5 rows

+---+---------+-------+---------+-----+-------------+
| Id|    First|   Last|Published| Hits|PublishedDate|
+---+---------+-------+---------+-----+-------------+
|  1|    Jules|  DAMJI| 1/4/2016| 4535|     1/4/2016|
|  2|   Brooke|  WENIG| 5/5/2018| 8908|     5/5/2018|
|  3|    Denny|    LEE| 6/7/2019| 7659|     6/7/2019|
|  4|Tathagata|    DAS|5/12/2018|10568|    5/12/2018|
|  5|    Matei|ZAHARIA|5/14/2014|40578|    5/14/2014|
+---+---------+-------+---------+-----+-------------+
only showing top 5 rows

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- PublishedDate: date (nullable = true)

In [0]:
#6.	Crear una función UDF donde me devuelva un valor de tipo String
#	Utilizar como input la columna Published
#	La función evalúa que los registros <= 2016 devuelva la etiqueta "Antiguo", de lo contrario "Reciente"
#	Mostrar el resultado

def devolver_string(dato):
    valores = dato.split('/')
    year = int(valores[2])
    if year<=2016:
        return "Antiguo"
    else:
        return "Reciente"

spark.udf.register("devolver_string", devolver_string)
etiquetaUDF = udf(lambda x: devolver_string(x))

df_blogs_etiquetas = df_blogs.select("Published", etiquetaUDF(F.col('Published')).alias('Etiqueta'))

df_blogs_etiquetas.show(10)


# Otra solución alternativa, siguiendo con la línea de utilizar UDF sería:

@udf(returnType=StringType()) 
def devolver_string_2(dato):
    try:
        fecha = datetime.strptime(dato, "%m/%d/%Y")
        year = int(fecha.year)
        if year <= 2016:
            return "Antiguo"
        else:
            return "Reciente"
    except:
        return None
    
df_blogs_etiquetas_2 = df_blogs.select("Published", devolver_string_2(F.col('Published')).alias('Etiqueta'))

df_blogs_etiquetas_2.show(10)

+---------+--------+
|Published|Etiqueta|
+---------+--------+
| 1/4/2016| Antiguo|
| 5/5/2018|Reciente|
| 6/7/2019|Reciente|
|5/12/2018|Reciente|
|5/14/2014| Antiguo|
| 3/2/2015| Antiguo|
| 8/8/2012| Antiguo|
| 3/2/2011| Antiguo|
|9/15/2020|Reciente|
|4/23/2017|Reciente|
+---------+--------+
only showing top 10 rows

+---------+--------+
|Published|Etiqueta|
+---------+--------+
| 1/4/2016| Antiguo|
| 5/5/2018|Reciente|
| 6/7/2019|Reciente|
|5/12/2018|Reciente|
|5/14/2014| Antiguo|
| 3/2/2015| Antiguo|
| 8/8/2012| Antiguo|
| 3/2/2011| Antiguo|
|9/15/2020|Reciente|
|4/23/2017|Reciente|
+---------+--------+
only showing top 10 rows